<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="well well-sm">
          <div class="row" >
              <div class="col-sm-6 col-md-4">
                  <img *ngFor="let profile of profiles" src="{{ profile.img }}" alt="" class="img-rounded img-responsive" />
              </div>
              <div class="col-sm-6 col-md-8">
                  <h4 *ngFor="let profile of profiles">{{profile.fullName}}</h4>
                  <small><i class="glyphicon glyphicon-map-marker">
                  </i><cite *ngFor="let profile of profiles">{{profile.city}}</cite></small>
                  <p>
                      <i class="glyphicon glyphicon-envelope"></i><span *ngFor="let profile of profiles">{{profile.mail}}</span>
                      
                  </p>
                 
              </div>
          </div>
      </div>
  </div>
</div>
