<div class="row">
  <div class="col-md-6" style="margin-top: 150px">
    <!--<ul>
      <li *ngFor="let videoGame of videoGames"> 
        <h4 (click)="videoGameClicked(videoGame)">{{ videoGame.title }}</h4>
      </li>
    </ul>-->

    <ul class="list-group">
      <li class="list-group-item dark">List of my favorite Video Games (click to edit or delete)</li>
      <a
        class="list-group-item"
        style="cursor: pointer"
        *ngFor="let videoGame of videoGames"
        (click)="videoGameClicked(videoGame)"
      >
      {{ videoGame.title }}
      </a>
    </ul>
  </div>
  
  <div class="col-md-6">
    <h2>Add, edit or delete a new Video Game on your List</h2> 
    <hr>
      <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" [(ngModel)]="selectedVideoGame.title">
        
      </div>
      <div class="form-group">
        <label>Description</label>
        <input type="text" class="form-control" [(ngModel)]="selectedVideoGame.desc">
      </div>
      <div class="form-group">
        <label>Console</label>
        <input type="text" class="form-control" [(ngModel)]="selectedVideoGame.console">
      </div>
      <div class="form-group">
        <label>Year</label>
        <input type="text" class="form-control" [(ngModel)]="selectedVideoGame.year">
      </div>
      
      <button class="btn btn-primary" *ngIf="selectedVideoGame.id != -1" (click)="updateVideoGame()">PUT</button>
      <button class="btn btn-success"  *ngIf="selectedVideoGame.id == -1" (click)="createVideoGame()">POST</button>
      <button class="btn btn-danger"  *ngIf="selectedVideoGame.id != -1" (click)="deleteVideoGame()">DELETE</button>
    
  </div>
</div>